.grid-container {
    display: grid;
  }

  .grid-container {
    display: grid;
    grid-column-gap: 0px;
    width: 150px;
    height: 140px;
    text-align: center;
    border: 1px solid black;
  }